<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.AnimalMapper">
    <select id="queryAnimalsByCommend"  resultType="Animal">
        select id,title,price,img,cost  from animal order by recommand desc
    </select>
    <select id="queryByDiscount" resultType="Animal">
        select id,title,price,img,cost from animal order by discount
    </select>
    <select id="queryByCatDog" resultType="Animal">
        select id,img,title from animal where category_id in (select id from category  where parent_id in (1,2))
    </select>
    <select id="queryByWaterLand" resultType="Animal">
        select id,img,title from animal where category_id in (select id from category  where parent_id =5)
    </select>
    <select id="queryByBirdFish" resultType="Animal">
        select id,img,title from animal where category_id in (select id from category  where parent_id in (3,4))
    </select>
    <select id="queryByCount" resultType="Animal">
        select id,img,title,price from animal order by count desc
    </select>
    <select id="queryFirstAnimal" parameterType="Integer" resultType="Animal">
        select id,img,title,price from animal where category_id in (select id from category  where parent_id=#{id})
    </select>

</mapper>
