<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.OrderMapper">
    <insert id="insertOrder" parameterType="Order" keyProperty="orderId" useGeneratedKeys="true">
        insert into animal_order (total_price,user_id,address_id,create_time)
        values(#{totalPrice},#{userId},#{addressId},NOW())
    </insert>
</mapper>
